.button {
  color: black !important;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px !important;
  border: none;
  padding: 0.5rem !important;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}

.detailbutton {
  color: black !important;
  border-radius: 25px !important;
  margin-top: 1rem !important;
}

.detailbutton:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}

.buybutton {
  color: black !important;
  border-radius: 25px !important;
  margin-top: 1rem !important;
}

.buybutton:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}
