.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: large;
  display: flex;
  align-items: baseline;
}
