.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: large;
  display: flex;
  align-items: center;
}
